body{
    background-color:white;
}

hr{
    
    border-style: dotted none none;
    border-top-style:dotted;
    border-width: 5px;
    width:5%;
    border-color: black;
}

h1{
    color:rgb(48, 48, 103);
 }

 h2{
    color: blueviolet;
 }

 .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 photos in a row */
    grid-template-rows: repeat(8, 1fr); /* 7 photos in a column */
    gap: 10px; /* Gap between photos */
  }
  
  /* Style the images */
  .grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Resize images to fit the container */
  }